apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingest-api
  namespace: testbed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingest-api
  template:
    metadata:
      labels:
        app: ingest-api
    spec:
      hostAliases:
      - ip: "10.43.138.250"
        hostnames:
        - "otel-collector.observability.svc.cluster.local"
      containers:
      - name: ingest-api
        image: 192.168.0.35:5000/ingest-api:latest
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: app-config
        env:
        - name: SERVICE_NAME
          value: "ingest-api"
        - name: GUNICORN_WORKERS
          value: "1"
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ready
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "192Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: ingest-api
  namespace: testbed
spec:
  selector:
    app: ingest-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000
